.navbar-brand {
  font-weight: 600;
}

.nav-link {
  color: rgba(255, 255, 255, 0.85);
}

.nav-link:hover,
.nav-link.active {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.375rem;
}

.nav-link .nav-icon {
  margin-right: 0.5rem;
  vertical-align: -0.2em;
  width: 1rem;
  height: 1rem;
}
